body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.top-area {
    display: block;
    text-align: center;
}

.main-title {
    color: #222;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: none;
}

.new-post-link {
    display: inline;
    color: grey;
    font-size: 17px;
    text-align: right;
    text-decoration: none;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    display: block;
    position: relative;
    border-bottom: 3px solid #666;
}

.post-title {
    display:inline;
    color: #222;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.post-edit-link {
    font-size: 17px;
    display: inline;
    color: #999;
    text-decoration: none;
}

.post-date {
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;

}

.post-content {
    margin-top: 5px;
}



a {
  color:#fff;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #f1f1f1;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color:#2e3d49;
  color: #fff;
  border: none;
}

.content {
  color: #4c4c4c;
  margin: 0;
  padding: 16px 0;
  position: relative;
  transition: background 0.5s ease 0s;
}