<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Ron's project Blog</title>
</head>

<body>
  <div class="top-area">
  <a href="/" class="main-title">
    Ron's project Blog
  </a>
  <a href="/newpost" class="new-post-link"> Create new Post
  </a>
  </div>
  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}
  </div>

  <div id="content">
  {% block content %}
  {% endblock %}
  </div>
</body>

</html>

